body {
	text-align: center;
	margin: 20px;
}

button,
input {
	margin: 5px;
}

table {
	margin: auto;
}

#rank th,
#rank td {
	padding: 0px 5px;
}

#rank {
	background-color: #999;
}

#rank th:nth-of-type(odd) {
	background-color: #bbb;
}

#rank th:nth-of-type(even) {
	background-color: #ccc;
}

#rank tr:nth-of-type(even) td:nth-of-type(even),
#rank tr:nth-of-type(odd) td:nth-of-type(odd) {
	background-color: #ddd;
}

#rank tr:nth-of-type(even) td:nth-of-type(odd),
#rank tr:nth-of-type(odd) td:nth-of-type(even) {
	background-color: #eee;
}